{% extends "base.html" %}
{% block content %}
<h3>Add Record</h3>

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<form method="POST">

	<label>Date</label>
  	<input type="date" name="date" class="form-control" value="{{ date or '' }}" required>

	<label>Type</label>
	<select name="type" class="form-control" required>
		<option value="" disabled selected>-- Select type --</option>
		<option value="income">Income</option>
		<option value="expense">Expense</option>
	</select>

	<label>Category</label>
	{% if categories and categories|length > 0 %}
		<select name="category" class="form-control" required>
			<option value="" disabled selected>-- Select category --</option>
			{% for c in categories %}
				<option value="{{ c.name }}">{{ c.name }}</option>
			{% endfor %}
		</select>
	{% else %}
		<div class="alert alert-warning mt-2">
			No categories yet. <a href="{{ url_for('categories.add_category') }}">Add a category</a>.
		</div>
	{% endif %}

	<label>Amount</label>
	<input type="number" step="0.01" name="amount" class="form-control" required>

	<label>Description</label>
	<input type="text" name="description" class="form-control">

	<br>
	<button type="submit" class="btn btn-success">Save</button>
</form>
{% endblock %}