{% extends "base.html" %}
{% block content %}
<h3>Summary</h3>
<p><b>Income: </b>{{ income }} BGN</p>
<p><b>Expense: </b>{{ expense }} BGN</p>
<p><b>Balance: </b>{{ balance }} BGN</p>

<hr>

<!-- configure style for charts with css -->
{% if cat_labels|length > 0 %}
<h3>Expenses by Category</h3>
<canvas id="categoryChart"></canvas>
{% else %}
<p>No expense data for categories yet.</p>
{% endif %}

{% if cat_labels|length > 0 %}
<h3 class="mt-4">Monthly Income vs Expense</h3>
<canvas id="monthlyChart"></canvas>
{% else %}
<p>No monthly data yet.</p>
{% endif %}

<script>
    console.log("cat_labels:", {{ cat_labels|tojson }});
    console.log("cat_values:", {{ cat_values|tojson }});
    console.log("months:", {{ months|tojson }});
    console.log("income_vals:", {{ income_vals|tojson }});
    console.log("expense_vals:", {{ expense_vals|tojson }});

    window.onload = function() {
    	renderCategoryChart({{ cat_labels|tojson }}, {{ cat_values|tojson }});
        renderMonthlyChart({{ months|tojson }}, {{ income_vals|tojson }}, {{ expense_vals|tojson }});
    }
</script>
{% endblock %}	