{% extends "base.html" %}
{% block content %}
<h3>Summary</h3>
<p><b>Income: </b>{{ income }} BGN</p>
<p><b>Expense: </b>{{ expense }} BGN</p>
<p><b>Balance: </b>{{ balance }} BGN</p>

<hr>

<!-- configure style for charts with css -->
<h3>Expenses by Category</h3>
<canvas id="categoryChart"></canvas>

<h3 class="mt-4">Monthly Income vs Expense</h3>
<canvas id="monthlyChart"></canvas>

<!-- Chart.js -->
<!-- move scripts in .js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
	// Pie chart - Expenses by Category
	const ctx1 = document.getElementById('categoryChart').getContext('2d');
	const categoryChart = new Chart(ctx1, {
		type: 'pie',
		data: {
			labels: {{ cat_labels|tojson }},
			datasets: [{
 				data: {{ cat_values|tojson }},
				backgroundColor: ['#ff6384','#36a2eb','#ffce56','#4bc0c0','#9966ff','#ff9f40']
			}]
		},
	});

	// Bar chart - Monthly Income vs Expense
    const ctx2 = document.getElementById('monthlyChart').getContext('2d');
    const monthlyChart = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: {{ months|tojson }},
            datasets: [
                {
                    label: 'Income',
                    data: {{ income_vals|tojson }},
                    backgroundColor: '#36a2eb'
                },
                {
                    label: 'Expense',
                    data: {{ expense_vals|tojson }},
                    backgroundColor: '#ff6384'
                }
            ]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}	